<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href='{{ url_for('index') }}'>Home</a> |
    <a href='{{ url_for('do_task1') }}'>Python Task 1</a> |
    <a href='{{ url_for('do_task2') }}'>Python Task 2</a> |
    <a href='{{ url_for('do_task3') }}'>Python Task 3</a> |
    <a href='{{ url_for('do_task4') }}'>Python Task 4</a> |
    <hr>
    <h3>Test Assignment for Data Science at Rocket Internet by Anastasiia Zavalkina</h3>
    {% block content %} {% endblock %}
</body>
</html>
